{% load movie_tag %}
{% load i18n movie_tag %}
<header class="header">
    <div class="container-fluid px-lg-5">
        <nav class="py-4">
            <div id="logo">
                <h1><a href="{% url 'home'%}" class="editContent"
                       style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">StationMovie</a>
                </h1>
            </div>

            <label for="drop" class="toggle">Меню</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a href="{% url 'home' %}">Главная</a></li>
                <li>
                    <label for="drop-2" class="toggle">Категории <span
                            class="fa fa-angle-down" aria-hidden="true"
                            style="outline: none; cursor: inherit;"></span> </label>
                    <a href="#">Категории <span class="fa fa-angle-down"
                                                aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        {% category_tag as categories %}
                        {% for cat in categories %}
                        <li><a href="{{cat.get_absolute_url}}">{{cat}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <span> {{user.username}}</span>
                    <a href="{% url 'account_logout' %}"
                       style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Выход</a>
                </li>
                {% else %}
                <li><a href="{% url 'account_login' %}"
                       style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вход</a>
                </li>
                <li><a href="{% url 'account_signup' %}"
                       style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Регистрация</a>
                </li>
                {% endif %}
                <li><!--кнопка перевода-->
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go">
                    </form>
                </li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>

